.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

:root {
  /* Değişkenleri küçültelim */
  --font-main: 14px; /* Varsayılan 16px'den düşürdük */
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-main); /* Tüm yazılar biraz küçüldü */
  overflow: hidden; /* Gereksiz kaydırmaları engeller */
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #0f172a; /* Dashboard arka planı */
  color: white;
}
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1; /* Popup'ın (9999) altında kalması için */
}


.ghost-marker-style {
    filter: grayscale(100%) opacity(0.6); /* Gri ve yarı saydam yapar */
}

.history-row:hover {
    background-color: rgba(0, 229, 255, 0.2); /* Üzerine gelince belli olsun */
}
